[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl"
verify_ssl = true
name = "pytorch"

[packages]
nltk = "*"
transformers = "==4.42.1"
sentencepiece = "*"
spacy = "==3.7.4"
numpy = "==1.26.0"
torch = "==2.0.1"
torchtext = "==0.15.2"
torchdata = {version = "==0.7.1", index = "pytorch"}
portalocker = "*"
pandas = "*"
scikit-learn = "==1.4.2"

[scripts]
# Download required spaCy language models
download-spacy-models = "python -m spacy download en_core_web_sm && python -m spacy download de_core_news_sm"

[requires]
python_version = "3.11"
